<configuration>

  <system.webServer>
    <security>
	  <ipSecurity allowUnlisted="false" denyAction="NotFound">

        <add ipAddress="217.66.50.55" subnetMask="255.255.255.255" allowed="true" />
        <add ipAddress="82.212.252.226" allowed="true" />
	  </ipSecurity>
	</security>
  </system.webServer>
</configuration>
