
  <system.webServer>
    <security>
	  <ipSecurity allowUnlisted="false" enableProxyMode="true">
        <!-- Local -->
        <add ipAddress="127.0.0.1" allowed="true" />
        <add ipAddress="10.0.0.0" subnetMask="255.0.0.0" allowed="true" />
        <add ipAddress="192.168.0.0" subnetMask="255.255.0.0" allowed="true" />

        <!-- Noxum -->
		<!--
        <add ipAddress="82.212.252.226" allowed="true" />
        <add ipAddress="82.212.252.227" allowed="true" />
        <add ipAddress="217.91.80.185" allowed="true" />
		-->
        <!-- Stiftung Warentest -->
        <add ipAddress="213.61.225.68" allowed="true" />
        <add ipAddress="213.61.225.69" allowed="true" />
        <add ipAddress="213.61.225.71" allowed="true" />
        <add ipAddress="213.61.225.72" allowed="true" />
        <add ipAddress="213.61.225.78" allowed="true" />
        <add ipAddress="213.61.225.81" allowed="true" />
        <add ipAddress="213.61.225.82" allowed="true" />
        
        <!-- Stiftung Warentest Mobilgeräte -->
        <add ipAddress="37.5.1.216" allowed="true"/>

        <!-- Pixelpark -->
        <add ipAddress="217.66.48.0" subnetMask="255.255.255.0" allowed="true" />
        <add ipAddress="217.66.49.0" subnetMask="255.255.255.0" allowed="true" />
        <add ipAddress="217.66.50.0" subnetMask="255.255.255.0" allowed="true" />
        <add ipAddress="217.66.56.0" subnetMask="255.255.255.0" allowed="true" />

        <!-- Fjord -->
		<!--
        <add ipAddress="62.214.65.234" subnetMask="255.255.255.255" allowed="true" />
		-->
	  <ipSecurity>
	</security>
  </system.webServer>