<configuration>

  <system.webServer>
    <security>
	  <ipSecurity allowUnlisted="false" denyAction="NotFound">

	        <add ipAddress="217.66.50.55" allowed="true" />
	        <add ipAddress="82.212.252.226" allowed="true" />
	        <add ipAddress="82.212.252.227" allowed="true" />
	        <add ipAddress="217.91.80.185" allowed="true" />

	  </ipSecurity>
	</security>
  </system.webServer>
</configuration>
